body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #008d3b;
  text-align: center;
}
h1 {
  color: white;
}
button {
  padding: 10px 20px;
  color :#008d3b;
  border: none;
  outline: none;
  background-color: white;
  font-weight: bold;
}
